<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css">
	<script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
</head>

<body>

	<div class="container">
		<header class="blog-header py-3">
			<div class="row flex-nowrap justify-content-between align-items-center">
				<div class="col-8 text-center">
					<a class="blog-header-logo text-dark" href="#">Crixis Blog</a>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">
					<!-- AQUI VA UNA CAJA PARA BUSCAR -->
				</div>
			</div>
		</header>

		<div class="nav-scroller py-1 mb-2">
			<nav class="nav d-flex justify-content-between">
				<a class="p-2 text-muted" href="/">Home</a>
				<a class="p-2 text-muted" href="/about">Acerca de</a>
				<a class="p-2 text-muted" href="/blog">Blog</a>
				<a class="p-2 text-muted" href="/cv">CV</a>
			</nav>
		</div>

	</div>


	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8 blog-main">
				{{ content }}
			</div>

			<aside class="col-md-4 blog-sidebar">
				<div class="p-3">
					<h4 class="font-italic">Archivo</h4>
					<ol class="list-unstyled mb-0">
						{% for post in site.posts %}
						<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
						{% endfor %}
					</ol>
				</div>
			</aside>
		</div> <!-- .row -->
	</main>


	<footer>
		<ul>
			<li><a href="mailto:crixis-me@protonmail.com">email</a></li>
			<li><a href="https://github.com/crixis-me">github.com/crixis-me</a></li>
		</ul>
	</footer>
</body>